.post-tag {
  display: inline-block;
  background: rgba($theme-color, 0.15);
  padding: 0 .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  border-radius: 4px;
  color: #AE0000;
  font-size: 90%;
  @include transition(all .1s ease-in-out);
}

.list-tag {
  display: inline-block;
  background: rgba($theme-color, 0.15);
  padding: 0 .5rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
  border-radius: 4px;
  color: #AE0000;
  font-size: 110%;
  @include transition(all .1s ease-in-out);
}

.tag-top {
  margin-left: .5rem;
  font-size: .8rem;
  color: #7B7B7B;
  font-family: Times;
}
